<% content_for :title do %>About<% end %>
<h3>About Us</h3>
<p>
This website was created to help 
<%= link_to('Keeping America Beautiful', 'https://www.kab.org') %>
for the <%= link_to('San Diego Womens Hackathon', 'http://sandiegohackathon.org/') %>.  
</p>
